<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Airbrake.ApiKey" value="" />
    <add key="Airbrake.Environment" value="" />
    <add key="Airbrake.ServerUri" value="[full url here]" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
