<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Airbrake.ApiKey" value=""/>
    <add key="Airbrake.Environment" value=""/>
    <add key="Airbrake.ServerUri" value="[full url here]"/>
    <add key="Airbrake.MaxExceptions" value="[max number of exceptions here]"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
