<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <extensions>
    <add assembly="NLog.AirBrake"/>
  </extensions>

  <targets>
    <target xsi:type="Console" name="consoleTarget" />
    <target xsi:type="AirBrake" name="airBrakeTarget" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="consoleTarget" />
    <logger name="*" minlevel="Error" writeTo="airBrakeTarget" />
  </rules>

</nlog>